<%- include('partials/header') %>
<link rel="stylesheet" href="../css/index.css">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3">
    <div class="container">
        
        <a href="#" class="navbar-brand">
            <img src="images/doctor.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
            Patient Management System
        </a>

    </div>
</nav>


<!-- blog section -->
<section style="background-color: #e3f2fd;" class='p-5 data-mdb-toggle="animation" data-mdb-animation-reset="true" data-mdb-animation="slide-out-right"'>
    <div class="blog container mb-3">
        <!-- data-mdb-toggle="animation" -->
        <h2 class="text-center">Patient Management System</h2>

        <% if(patient.length<1){ %>
            <div class="mb-2">
                <p class="shadow d-inline-block text-dark">No Patient</p> <br>
                <button class="btn btn-primary"> <a href="add_patient" style="text-decoration: none; color: white;">Add New Patient</a></button>
            </div>
       <% } %>
 

        <div class="row g-4">
            <% patient.forEach((user)=>{ %>
            <div class="col-md-6 col-lg-4">
                <div class="card text-sm-start">
                    <div class="card card-body ">
                        <img class="mb-3" src="../uploads/<%= user.photo %>" alt="User Image">
                        <h3 class="card-title mb-3"> 
                            <a href="view_patient/<%= user._id %>" class="text-decoration-none text-dark"> <%= user.surname %> <%= user.firstname %> </a> 
                        </h3>
                        <p class="card-text"> <%= user.occupation %>  </p>
                        <i><%= user.HomeAddress %></i>
                    </div>
                </div>
            </div>
            <% }); %>
    </div>
</section>


<!-- About me-->
<section id="about" class=" text-dark p-5 p-lg-0  text-center text-sm-start">
    <div class="container d-flex">
        <div class="d-sm-flex align-items-center justify-content-between">
            
            <img class="img-fluid w-25 d-sm-block my-4" src="images/hospital.jpg"  alt="">
            
            <div class="p-5">
                <h1>Patient Management System</h1>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis, natus?
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas, suscipit?
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas, suscipit?
                    
                </p>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer') %>
